@page
@model WebApplication1RazorExKud.Pages.Employees.EmployeeNotFoundModel
@{
    ViewData["Title"] = "Not Found";
}

<h1>Employee Not Found</h1>

<a asp-page="/Employees/Index" class=" btn btn-primary ">
    Click Here to Get back to Index
</a>
